# Išjungiame katalogų naršymą
Options -Indexes

# Apsauga nuo tiesioginės prieigos prie jautrių failų ir atsarginių kopijų
<FilesMatch "\.(php\.bak|env|sql|txt|json|md|log|ini|sh|bak|backup|kopija)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Blokavimas konfigūracijos aplanko iš išorės
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^config/(.*)$ - [F,L]
    RewriteRule ^vendor/(.*)$ - [F,L]
</IfModule>